section {
  .contact-form {
    form {
      .name {
        .error-message {
          background-color: red;
          padding: 0px 10px;
          color: #ffffff;
        }
      }
      .email {
        .error-message {
          background-color: red;
          padding: 0px 10px;
          color: #ffffff;
        }
      }
      .subject {
        .error-message {
          background-color: red;
          padding: 0px 10px;
          color: #ffffff;
        }
      }
      .message {
        .error-message {
          background-color: red;
          padding: 0px 10px;
          color: #ffffff;
        }
      }
      input {
        border-radius: 0px;
        min-height: 40px;
      }
      input:focus {
        border: 1px solid #b0b435;
        box-shadow: none;
      }
      textarea {
        border-radius: 0px;
        min-height: 40px;
      }
      textarea:focus {
        border: 1px solid #b0b435;
        box-shadow: none;
      }
    }
    button {
      position: relative;
      overflow: hidden;
      padding: 10px 20px;
      background-color: #b0b435;
      color: #ffffff;
      border-radius: 0;
      border: none;
      transition: background-color 0.8s;
    }
    button::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #555555;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.5s;
      z-index: -1;
    }
    button:hover::before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    button:hover {
      background-color: #555555;
      color: #ffffff;
      z-index: 1;
    }
  }
  .contact-info {
    padding: 25px;
    background: url(../../../assets/images/contact/contact.jpg) no-repeat center;
    background-size: cover;
    p {
      color: #222222;
    }
    ul {
      li {
        display: flex;
        align-items: baseline;
        p {
          font-size: 16px;
          color: #222222;
          font-weight: 300;
          margin: 0;
        }
        i {
          padding-right: 6px;
          color: #b0b435;
        }
        a {
          color: #222222;
          font-size: 16px;
        }
      }
    }
  }
}
