<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex">
        <div class="currency-box">
          <select class="text-light custom-select">
            <option>¥ JPY</option>
            <option>$ USD</option>
            <option>€ EUR</option>
          </select>
        </div>
        <div
          class="phone d-flex justify-content-center align-items-center ms-2"
        >
          <p class="m-0 text-light">
            Call US :-
            <a class="text-light text-decoration-none" href="#">
              +11 900 800 100</a
            >
          </p>
        </div>
        <div class="links d-flex align-items-center ms-2">
          <ul class="d-flex p-0 m-0 gap-2 text-nowrap">
            <li class="px-2">
              <a
                href="#"
                class="text-decoration-none text-light text-uppercase fw-bold"
                ><i class="fa fa-user s_color fw-bold"></i> My Account</a
              >
            </li>
            <li class="px-2">
              <a
                href="#"
                class="text-decoration-none text-light text-uppercase fw-bold"
                ><i class="fas fa-location-arrow fw-bold"></i> Our location</a
              >
            </li>
            <li class="px-2">
              <a
                href="#"
                class="text-decoration-none text-light text-uppercase fw-bold"
                ><i class="fas fa-headset fw-bold"></i> Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex">
        <!-- <div class="offers d-flex align-items-center">
          <ul class="m-0 p-0">
            <li
              #offerList
              class="text-light opacity-0"
              *ngFor="let offer of offers; let i = index"
            >
              <i class="fab fa-opencart me-2"></i> {{ offer }}
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</header>
