nav {
  .nav {
    .navbar-toggler {
      border-color: #b0b435;
      color: #010101;
      border-radius: 0px;
      margin-right: 7px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .navbar-nav {
      a.active {
        color: #b0b435;
      }
      a:hover {
        color: #b0b435;
        transition: 0.3s;
      }
      .dropdown-menu {
        background-color: black;
        padding: 30px 0px;
        border-radius: 0;
        width: 200px;
        li {
          padding: 5px 0px;
          a {
            padding: 6px 25px;
            color: #6f6f6f;
          }
          a:hover {
            color: #b0b435;
            transform: translateX(3px);
            transition: 0.3s;
            background-color: transparent;
          }
        }
      }
    }
  }
  .cart {
    ul {
      li {
        a {
          i:hover {
            color: #b0b435 !important;
            transition: 0.3s;
          }
        }
        a:hover {
          color: #b0b435 !important;
          transition: 0.3s;
        }
        .products-number {
          right: -4px;
          top: -8px;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
  .bottom-border {
    border-bottom: solid 1px #e0e0e0;
  }
}

.fixed {
  position: fixed;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  background: #ffffff;
  z-index: 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
//media queries
@media screen and (max-width: 992px) {
  .logo {
    img {
      width: 160px;
    }
  }
  .dropdown-toggle::after {
    position: absolute;
    top: 20px;
    right: 0;
  }
  #dropdowns {
    li {
      a {
        display: block;
        text-decoration: none;
        padding: 6px 25px;
        color: #6f6f6f;
        border-bottom: solid 1px #e0e0e0;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .shoping {
    p {
      display: none;
    }
  }
}
//animation
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
