<section>
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex justify-content-between position-relative">
            <h2 class="m-0 text-light">Contact Us</h2>
            <ul class="breadcrumb d-flex">
              <li class="breadcrumb-item">
                <a href="#" class="text-decoration-none text-light">Home</a>
              </li>
              <li class="breadcrumb-item active">{{ routing }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
